<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/cssblog.css">

<body>

    <div class="header">
        <a href="https://plus.google.com" class="marginbutton"><i class="fab fa-google-plus-g"></i></a>
        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://rss.com/"><i class="fas fa-rss"></i></a>
    </div>




    <img src="image/logo.png" alt="logo" class="img1" style="width:22%">

    <table style="text-align:center;">

        <tr>
            <td>
                <a href="index.html"><i class="button fas fa-home"></i></a>
            </td>
            <td>
                <a href="features.html"><i class="button fas fa-cogs"></i></a>
            </td>
            <td>
                <a href="https://github.com"><i class="button fab fa-github"></i></a>
            </td>
            <td>
                <a href="portfolio.html"><i class="button fas fa-th "></i></a>
            </td>
            <td>
                <a href="https://watch.na.lolesports.com/en_US/world-rebroadcast/en"><i class="button fas fa-trophy"></i></a>
            </td>
            <td>
                <a href="contact.html"><i class="button fas fa-comment"></i></a>
            </td>
        </tr>
        <tr>
            <td>HOME</td>
            <td>FEATURES</td>
            <td>GITHUB</td>
            <td>PORTFOLIO</td>
            <td>LOL Worlds!</td>
            <td>CONTACT</td>
        </tr>

    </table>


    <h1>Blog</h1>

</body>

</html>