<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/web_disign.css">
</head>

<body>
    <div>
        <button onclick="location.href='voorgerecht.html'">Voorgerecht</button>

        <button onclick="location.href='hoofdgerecht.html'">Hoofdgerecht</button>

        <button onclick="location.href='nagerecht.html'">Nagerecht</button>

        <h1>Brownie wafels</h1>

        <hr>

        <p class="para1">
            Deze smeuïge chocolade wafels zijn heerlijk als toetje of bij de koffie of thee
        </p>

        <h2>Indrediënten</h2>

        <ul>
            <li>100 gr bloem</li>
            <li>20 gr cacao</li>
            <li>125 gr suiker</li>
            <li>1 theelepel bakpoeder</li>
            <li>Snuf zout</li>
            <li>2 eieren</li>
            <li>150 gr gesmolten boter( + om in te vetten)</li>
            <li>1 theelepel vanille aroma</li>
            <li>2 eetlepels cacao nibs</li>
            <li>Bolletjes ijs en chocoladesaus voor garnering</li>
        </ul>

        <h2>Bereiding</h2>
        <ol>
            <li>Meng de bloem, cacao, bakpoeder, zout en suiker door elkaar in een kom. Voeg de gesmolten boter, vanille aroma en eieren toe en meng met een garde tot een glad beslag.</li>

            <br>

            <li>Schep dan de cacao nibs er door, deze geven een lekkere crunch. Laat het beslag ca. 20 minuten staan.</li>

            <br>

            <li>Verwarm ondertussen het wafelijzer. Vet het in met een beetje boter. Schep ongeveer 1,5 sauslepel beslag per wafel in het ijzer. Bak de wafels in ongeveer 4 minuten gaar.</li>

            <br>

            <li>Vergeet niet om tussen de de gebakken wafels door het ijzer opnieuw in te vetten. Serveer de brownie wafels bijvoorbeeld als toetje met een bolletje ijs en wat chocoladesaus.</li>
        </ol>

        <img class="img1" src="image/wafels.jpg" alt="een gehaktbrood">

    </div>
</body>

</html>