<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/web_disign.css">
</head>

<body>
    <div>
        <button onclick="location.href='voorgerecht.html'">Voorgerecht</button>

        <button onclick="location.href='hoofdgerecht.html'">Hoofdgerecht</button>

        <button onclick="location.href='nagerecht.html'">Nagerecht</button>


        <h1>Brunschtta met Serranoham</h1>

        <hr>

        <p class="para1">
            Bruschetta’s zijn eenvoudig te maken, maar heel erg veelzijdig door de eindeloze smaakcombinaties. Wij maakten dit keer bruschetta met serranoham, pesto en brie. Serveer bruschetta de komende maanden tijdens de oudejaarsborrel of als bijgerecht tijdens
            het kerstdiner.
        </p>

        <h2>Benodigdheden</h2>

        <ul>
            <li>2 afbak pistoletjes of 1 klein stokbrood</li>
            <li>1 stuk brie</li>
            <li>pesto(kant-en-klaar of zelfgemaakt)</li>
            <li>6 plakjes serranoham</li>
        </ul>

        <h2>Bereidingswijze</h2>
        <ol>
            <li>Verwarm de oven voor op 220 graden, ondertussen kan je zelf pesto maken. Als je kant-en-klaar hebt is dat ook goed.</li>

            <br>

            <li>Snij de afbak broodjes ongeveer 2 centimeter dik. En besmeer ze met een laagje pesto.</li>

            <br>

            <li>Snij ook nu de brie plakjes en leg deze op de broodjes. <b>doe de serranoham er nu niet op!</b></li>

            <br>

            <li>laat nu je broodjes in de oven zitten voor 10 minuten</li>

            <br>

            <li>Snij ondertussen de plakjes serranoham in tweeën. Wanneer de broodjes mooi goudbruin uit de oven komen, mag ook de ham erop. Afmaken met een klein snufje zwarte peper</li>
        </ol>

        <img class="img1" src="image/voorfoto.jpg" alt="een gehaktbrood">
    </div>
</body>

</html>