.button {
    background-color: rgba(7, 31, 247, 0.911);
    width: 100%;
    border: none;
    color: white;
    padding: 16px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    -webkit-transition-duration: 0, 4s;
    transition-duration: 0.4s;
    table-layout: fixed;
    border-collapse: collapse;
    overflow: auto;
    margin-left: 43%;
    margin-right: 57%;
    position: relative;


}
.img{
    margin-left: 50%;
    margin-right: 50%;

}

body{
    background-image: url("images.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}   
p{
    text-align: center;
    font-size: 25px;
    margin: 5px;
}
h1{
    text-align: center;

}

h2{
    text-align: center;
    
}

.center{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%

}
